@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Заключен.</h1>
    <h2 class="text-danger">Този профил е заключен, моля опитайте отново по-късно.</h2>
</hgroup>
