@{
    ViewBag.Title = "Потвърдете Ел.Поща";
}
<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Благодаря Ви за потвърждението на Ел.Поща. Моля, @Html.ActionLink("Кликнете тук за да влезете", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
