@{
    ViewBag.Title = "Потвърждение на забравена парола";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Моля проверете Вашата Ел.поща за да нулирате паролата.
    </p>
</div>