@{
    ViewBag.Title = "Потвърждение за нулиране на паролата";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Вашата парола беше нулирана. Моля 
        @Html.ActionLink("Кликнете тук за да се логнете отновео", "Login", "Account", routeValues: 
        null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
