@{
    ViewBag.Title = "Posts";
}

<div>
    <h1 style="color:navy" class=" col-sm-offset-5">Отзиви</h1>
    <img class=" col-sm-offset-2" style="height: 10%; width: 65%" src="@Url.Content("~/Content/Images/Party.jpg")" />
</div>
   
<div>    
    <p><a class="btn col-md-offset-4" href="@Url.Content("~/Views/Shared/Introduction.cshtml")">Преглед &raquo;</a>
    <a class="btn col-lg" href="@Url.Content("~/Views/Shared/Introduction.cshtml")">Публикуване &raquo;</a></p>
</div>

