@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1 class=" col-sm-offset-3">Партита за запознанства</h1>
    <img class=" col-sm-offset-2" style="height: 10%; width: 65%" src="@Url.Content("~/Content/Images/Party.jpg")" />
</div>
   
<div class=" col-sm-offset-5">    
    <p><a class="btn btn-primary btn-lg" href="@Url.Content("~/Views/Shared/Introduction.cshtml")">Научете повече &raquo;</a></p>
</div>

